body {
            background-color: #FFF0F5;
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .h2 {
            font-style: italic;
        }

        .project {
            border: 2px solid #DD8EA4;
            padding: 10px;
            margin-bottom: 15px;
            background-color: #FFE4E1;
        
        }

        .p{
            font-family: Comics Sans MS;
            font-weight: bolder;
            font-size: 25px;
            text-decoration: underline;
        }

        .a {
            text-decoration: none;
            color: dimgrey;
        }

        img{
            
            float: right;
        }